* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow: none;
}
html {
  scroll-behavior: smooth;
}

/* navbar styling */
nav.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
}
.nav-link:hover {
  background-color: #ffffff;
  border-radius: 30px;
  color: #198754 !important;
  transition: all 0.3s ease-in-out;
}

.navbar-brand {
  color: black !important;
}

.offcanvas-body,
.offcanvas-header {
  font-size: 20px;
  font-weight: 500;
}

.offcanvas-end {
  width: 223px;
}

.search-content input {
  border-radius: 40px !important;
}
.side-bar i {
  border: 1px solid gray;
  border-radius: 50%;
  /* background-color: #198754; */
  padding: 5px;
}

.side-bar:hover {
  background-color: #198754;
  border-radius: 40px;
  padding: 6px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.footer {
  background-image: url(../img/collage.jpeg);
  color: #fff;
  padding: 30px 0;
  height: auto;
  overflow: hidden;
  background-size: cover;
  object-fit: cover;
}

.footer-logo {
  max-width: 70px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}
