* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow: none;
}
html {
  scroll-behavior: smooth;
}

/* navbar styling */
nav.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
}
.nav-link:hover {
  background-color: #ffffff;
  border-radius: 30px;
  color: #198754 !important;
  transition: all 0.3s ease-in-out;
}

.navbar-brand {
  color: black !important;
}

.offcanvas-body,
.offcanvas-header {
  font-size: 20px;
  font-weight: 500;
}

.offcanvas-end {
  width: 223px;
}
